@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Cursive, Times New Roman, Times, serif;
  background-color: #fff;

}

.nike {
  background: url('/nike.png') no-repeat center/contain;
  background-size: 50mm;
  background-position: bottom 50px right 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;

  p {
    margin: 5vh;
  }

  p.nth-paragraph {
    margin-top: 1.6vh;
  }

  .plain {
    font-family: Times New Roman, Times, serif;
    color: #3300FF;

  }

  .photo-credit {
    position: absolute;
    bottom: 60px;
    right: 30px;
    font-size: 0.5rem;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
  }

  @media (min-width: 1024px) {

    /* laptop and above */

    p {
      margin: 10vh 20vh 2vh;
    }


    .photo-credit {
      position: absolute;
      bottom: 10vh;
      right: 10vh;
      font-size: 0.6rem;
      text-decoration: underline;
      font-family: 'Times New Roman', Times, serif;
      cursor: default;
    }
  }


}