@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Cursive, Times New Roman, Times, serif;
  background-color: #fff;

}

.nike {
  background: url('/nike.png') no-repeat center/contain;
  background-size: 50mm;
  background-position: bottom 50px right 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;

  p {
    margin: 10vh 20vh 2vh;
  }

  p.nth-paragraph {
    margin-top: 2vh;
  }

  .photo-credit {
    position: absolute;
    bottom: 60px;
    right: 30px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    cursor: default;
  }
}